<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table align="center" border="1">
        {% for g in gg %}
            {% for s in ss %}
                {% if g.id == s.role_id %}
                    <tr>
                        <td>{{g.name}}</td>
                        <td>{{s.name}}</td>
                        <td>{{s.email}}</td>
                        <td>{{s.password}}</td>
                        <td>{{s.id}}</td>
                        <td><a href="{{url_for('add_l')}}">增加</a></td>
                        <td><a href="{{url_for('delete_l',id = s.id)}}">删除</a></td>
                        <td><a href="{{url_for('update_l',a_id = s.id ,b_id = g.id)}}">修改</a></td>
                        <td><a href="{{url_for('paw_l',id = s.id)}}">修改密码</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</form>

</body>
</html>