<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $("form").submit(function () {
                alert("登录成功！！");
            });
        });
    </script>
</head>
<body>
<form action="" method="post">
    <table align="center" border="1">
        <tr>
            <td><input type="text" name="nm" placeholder="姓名"></td>
            <td><input type="text" name="paw" placeholder="密码"></td>
            <td><button>登录</button></td>
        </tr>
    </table>
</form>

</body>
</html>