<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">-->
<!--    </script>-->
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            $("form").submit(function () {-->
<!--                alert("密码修改成功！！");-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</head>
<body>
<form action="" method="post">
    <select name="奥里给" >
        <option value="烬">烬</option>
        <option value="劫">劫</option>
        <option value="凯隐">凯因</option>
    </select>
    <input type="button" value="提交">
</form>


<form action="" method="post">
    <input type="text">
    <input type="text">
    <input type="text">
</form>
<br>
<form action="" method="post">
    <h1>本命英雄</h1>
    <input type="checkbox" name="a" >蜘蛛女皇
    <input type="checkbox" name="a" >西部魔影
    <input type="checkbox" name="a" >烬
    <input type="checkbox" name="a" >劫
    <br>
    <input type="submit">
</form>

</body>
</html>