<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table align="center" border="1">
        <tr>
            <td>{{g1.name}}</td>
        </tr>
        <tr>
            <td><input type="text" name="ca" placeholder="班级"></td>
        </tr>
        <tr>
            <td>{{s1.name}}</td>
        </tr>
        <tr>
            <td><input type="text" name="nm" placeholder="姓名"></td>
        </tr>
        <tr>
            <td>{{s1.email}}</td>
        </tr>
        <tr>
            <td><input type="text" name="em" placeholder="email"></td>
        </tr>
        <tr>
            <td>{{s1.password}}</td>
        </tr>
        <tr>
            <td><input type="text" name="paw" placeholder="密码"></td>
        </tr>
        <td><button>提交</button></td>
    </table>
</form>

</body>
</html>